* {
    font-family: Arial, Helvetica, sans-serif;
}

.white-font {
    color: white; 
}

body {
    background: #136a8a;
    background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
    background: linear-gradient(to left, #b3e6eb, #6281c9);
}

/* grid container */
@media (min-width:480px) { 
    .grid-container {
        display: grid;
        width : 95%;
        max-width : 1400px; 
        margin: 2.5%;
    }
}

@media (max-width:480px) { 
    .grid-container {
        display: grid;
        width : 95%;
        margin: 2.5%;
    }
}

/* row */
@media (min-width:480px) { 
    .row {
        clear: both;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width:480px) { 
    .row {
        clear: both;
        margin: 10px 0px 10px 0px;
    }
}

/* app header */
@media (min-width:480px) { 
    .app-header {
        font-weight: bold;
        font-size: 3em;
        margin: 0px;
    }
}

@media (max-width:480px) { 
    .app-header {
        font-weight: bold;
        font-size: 4.2vh;
        margin: 10px 0px 10px 0px;
        text-align: center;
    }
}

/* app description */
@media (min-width:480px) { 
    .app-description {
        font-size: 1.6em;
    }
}

@media (max-width:480px) { 
    .app-description {
        font-size: 3vh;
        margin: auto; 
        text-align: center;
    }
}

/* line */
@media (min-width:480px) { 
    .line {
        background-color: #ffffff;
        padding: 0.5px;
        margin: 20px 0px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99.9%;
    }
}

@media (max-width:480px) { 
    .line {
        background-color: #ffffff;
        padding: 0.5px;
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99%;
    }
}

/* cards */
@media (min-width:480px) { 
    .cards {
        display: grid;    
        grid-template-columns: 1fr 2fr;    
        grid-gap: 2.5rem;
        width: 100%;
        padding-left: 0% !important;
    }
}

@media (max-width:480px) { 
    .cards {
        display: grid;    
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
        width: 100%;
        margin: 3% auto 3% auto;
    }
}
 
/* card */
@media (min-width:480px) { 
    .card {
        display: grid;
        grid-auto-rows: 60px 4fr 1.2fr;    
        border-radius: 6px;
        overflow: hidden;
    }
}

@media (max-width:480px) { 
    .card {
        display: grid;
        grid-auto-rows: 45px 4fr 1.2fr;    
        border-radius: 6px;
        overflow: hidden;
    }
}

/* add new todo */
@media (min-width:480px) { 
    .add-new-todo {
        grid-column: 1 / 2;
        max-height: 100%;
    }
}

/* view todo */
@media (min-width:480px) { 
    .view-todo {
        grid-column: 2 / 3;
    }
}

/* card header */
@media (min-width:480px) { 
    .card-header {
        padding-left: 4.5%;
        font-size: 1.3rem;
        grid-row: 1 / 2;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #66646415;
    }
}

@media (max-width:480px) { 
    .card-header {
        font-size: 1.3rem;
        grid-row: 1 / 2;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #66646415;
    }
}

/* card body */
.card-body {
    grid-row: 2 / 3;
    background-color: #ffffff;
}

/* card body edit */
.card-body-edit {
    grid-row: 2 / 3;
    background: transparent;
}

/* card footer */
.card-footer {
    grid-row: 3 / 4;
    background-color: #f5f5f5;
    border-top: 1px solid #66646415;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* label */
@media (min-width:480px) { 
    label {
        margin-top: 10px;
        display: inline-block;
        font-weight: bold;
        padding-left: 6.5%;
    }
}

@media (max-width:480px) { 
    label {
        margin-top: 10px;
        display: inline-block;
        font-weight: bold;
        padding-left: 6.5%;
    }
}

/* textarea */
@media (min-width:480px) { 
    .new-todo-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 86%;
        max-width: 100%;
        min-height: 8em;
        max-height: 16em;
        border-radius: 5px;
    }
}

@media (max-width:480px) { 
    .new-todo-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 86%;
        max-width: 100%;
        min-height: 8em;
        max-height: 16em;
        border-radius: 5px;
    }
}

/* select */
@media (min-width:480px) { 
    select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        max-width: 100%;
        min-height: 2.5em;
        max-height: 3em;
        border-radius: 5px;
    }
}

@media (max-width:480px) { 
    select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        max-width: 100%;
        min-height: 2.5em;
        max-height: 3em;
        border-radius: 5px;
    }
}

/* add priority select row */
@media (min-width:480px) { 
    .add-priority-select-row {
        clear: both;
        margin: 10px 0px 35px 0px;
    }
}

@media (max-width:480px) { 
    .add-priority-select-row {
        clear: both;
        margin: 10px 0px 35px 0px;
    }
}

/* add button */
.add-button {
    font-size: 1.5em;
    font-weight: 550;
    color: white;
    background-color: #5cb852;
    width: 88%;
    height: 72%;
    border-radius: 8px;
    border: none;
}

/* table */
table
{
    /* need these border styles so that I can apply border radius styling 
    below to the td children */
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;  
    width:100%;
    table-layout: fixed;
}

/* setting widths of table data cells for the todo items */
.todo-item-row td:nth-child(1),
.todo-item-row td:nth-child(3),
.todo-item-row td:nth-child(4) {
  width: 6%;
}

.todo-item-row td:nth-child(2) {
  width: 82%;
} 

/* todo table tr/td children for bottom border radius*/
.todo-table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.todo-table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
} 

/* todo item row */
@media (min-width:480px) { 
    .todo-item-row {
        background-color: #FBF8E2;
        height: 3em;
        border-bottom: 0.5px solid rgb(218, 218, 218);
    }
}

@media (max-width:480px) { 
    .todo-item-row {
        background-color: #FBF8E2;
        height: 3em;
        border-bottom: 0.5px solid rgb(218, 218, 218);
    }
}

/* todo description */
@media (min-width:480px) { 
    .todo-description {
        font-weight: bold;
        color: #936e36;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (max-width:480px) { 
    .todo-description {
        font-weight: bold;
        color: #936e36;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

/* edit table */
.edit-table {
    width: 100%;
    border-bottom: 0.5px solid rgb(218, 218, 218);
}

/* edit todo row */
@media (min-width:480px) { 
    .edit-todo-row {
        width: 100%;
    }
}
 
@media (max-width:480px) { 
    .edit-todo-row {
        width: 100%;
    }
}

/* edit todo data */
@media (min-width:480px) { 
    .edit-todo-data {
        display: inline-block;
        width: 100%;
        background-color: #FBF8E2;
        border-radius: 0px 0px 5px 5px;
    }
}

@media (max-width:480px) { 
    .edit-todo-data {
        display: inline-block;
        width: 100%;
        background-color: #FBF8E2;
        border-radius: 0px 0px 5px 5px;
    }
}

/* edit priority select row */
@media (min-width:480px) { 
    .edit-priority-select-row {
        clear: both;
        margin: 10px 0px 15px 0px;
    }
}

@media (max-width:480px) { 
    .edit-priority-select-row {
        clear: both;
        margin: 10px 0px 15px 0px;
    }
}

/* save button row */
@media (min-width:480px) { 
    .save-button-row {
        clear: both;
        margin: 15px 15px 10px 0px;
        overflow: hidden;
    }
}

@media (max-width:480px) { 
    .save-button-row {
        clear: both;
        margin: 15px 15px 10px 0px;
        overflow: hidden;
    }
}

/* save update button */
@media (min-width:480px) { 
    .save-update-button {
        float: right;
        font-size: 1em;
        font-weight: 400;
        color: white;
        background-color: #5cb852;
        width: 10%;
        border-radius: 2px;
        border: none;
    }
}

@media (max-width:480px) { 
    .save-update-button {
        float: right;
        font-size: 1em;
        font-weight: 400;
        color: white;
        background-color: #5cb852;
        border-radius: 2px;
        border: none;
    }
}

/* font awesome custom css */
.fa-trash {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='trash' class='svg-inline--fa fa-trash fa-w-14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M432 32H312l-9.4-18.7A24 24 0 00281.1 0H166.8a23.72 23.72 0 00-21.4 13.3L136 32H16A16 16 0 000 48v32a16 16 0 0016 16h416a16 16 0 0016-16V48a16 16 0 00-16-16zM53.2 467a48 48 0 0047.9 45h245.8a48 48 0 0047.9-45L416 128H32z'/%3E%3C/svg%3E");
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    color: #a64741;
}

.fa-edit {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='edit' class='svg-inline--fa fa-edit fa-w-18' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='currentColor' d='M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z'/%3E%3C/svg%3E");
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    color: #487A98;
}

/* strike-through for marking completed items */
.strike-through {
    text-decoration: line-through;
}